In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import wilcoxon
from statsmodels.stats.anova import AnovaRM

#Datos de comparación de ingresos del primer y segundo trimestre en tiendas minoristas

In [4]:
df=pd.read_csv('revenuedata.csv')

In [5]:
df.head()

          Q1         Q2
0   528819.0   329778.0
1  1263689.0   504738.0
2  1172512.0   989454.0
3  1647341.0  1465183.0
4   528419.0   351158.0

In [6]:
# comparar las muestras 
stat, p = wilcoxon(df.Q1, df.Q2,alternative='two-sided')
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpretación
alpha = 0.05
if p > alpha:
	print('No rechazamos H0: No hay diferencias significativas')
else:
	print('Rechazamos H0: Hay diferencias significativas')

Statistics=32.000, p=0.018
Rechazamos H0: Hay diferencias significativas

In [7]:
print(df.Q1.mean(),df.Q2.mean())

941415.1666666666 788682.7777777778

In [8]:
# comparar las muestras 
stat, p = wilcoxon(df.Q1, df.Q2,alternative='greater')
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpretación
alpha = 0.05
if p > alpha:
	print('No rechazamos H0: No hay diferencias significativas')
else:
	print('Rechazamos H0: Hay diferencias significativas')

Statistics=139.000, p=0.009
Rechazamos H0: Hay diferencias significativas